<% provide(:title,"Contact") %>
<h1>Contact</h1>
<p>
  Call Us: 011-662763<br>
  Email: newfashiontailors@gmail.com<br>
  Follow Us on <a href "www.fb.com/newfashiontailorsbanepa">Facebook </a>, Instagram, Twitter ...
</p>
