<% provide(:title, "Home") %>
<!DOCTYPE html>
<div class="center jumbotron">
  <h1>New Fashion Tailors</h1>
  <h2>
    Welcome to New Fashion Tailors<br>
    Sign up or Login to
    <a href="https://fashion-website-on-rails.herokuapp.com/">New Fashion Tailors</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("logo.jpg", alt: "Fashion Logo"),
            'http://rubyonrails.org/'%>
