<% provide(:title, "Home") %>
<!DOCTYPE html>
<h1>New Fashion Tailors</h1>
<p>
  Welcome to New Fashion Tailors<br>
  <a href="https://fashion-website-on-rails.herokuapp.com/">Click to Know More</a> <br>
  <a href = "https://fashion-website-on-rails.herokuapp.com/static_pages/about"> About Us </a>
</p>
