<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | New Fashion Tailors</title>
  </head>
  <body>
    <h1>New Fashion Tailors</h1>
    <p>
      Welcome to New Fashion Tailors<br>
      <a href="https://fashion-website-on-rails.herokuapp.com/">Click to Know More</a> <br>
      <a href = "https://fashion-website-on-rails.herokuapp.com/static_pages/about"> About Us </a>
    </p>
  </body>
</html>
