<% provide(:title, "Services") %>
<!DOCTYPE html>
<h1>Services</h1>
<p>
  Here are the services you can get from New Fashion Tailors.
  <ul>
    <li>Tailor your clothes as per your design</li>
    <li>Ready Made Clothes</li>
    <li>Get Piece length Fabrics</li>
    <li>Alteration Service: Retouch your existing clothes to fit as per your need </li>
    <li> <strike> Dry Wash </strike> (Coming Soon :)) </li>
  </ul>
</p>
